[submodule "modules/Clowd.Win64"]
	path = modules/Clowd.Win64
	url = https://github.com/clowd/Clowd.Win64.git
[submodule "modules/Clowd.Squirrel"]
	path = modules/Clowd.Squirrel
	url = https://github.com/clowd/Clowd.Squirrel.git
