<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.NLog.Fody" version="2.20.0" targetFramework="net451" developmentDependency="true" />
  <package id="CS.Util" version="1.0.6.23" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.8" targetFramework="net451" />
  <package id="Exceptionless" version="3.3.1575" targetFramework="net451" />
  <package id="Exceptionless.NLog" version="3.3.1575" targetFramework="net451" />
  <package id="Exceptionless.Portable" version="3.3.1575" targetFramework="net451" />
  <package id="Exceptionless.Wpf" version="3.3.1575" targetFramework="net451" />
  <package id="Fody" version="1.29.4" targetFramework="net451" developmentDependency="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net451" />
  <package id="NLog" version="4.2.3" targetFramework="net451" />
  <package id="RazorEngine" version="3.7.7" targetFramework="net451" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net451" />
  <package id="Topshelf" version="3.3.1" targetFramework="net451" />
  <package id="Topshelf.NLog" version="3.3.1" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="6.2.0" targetFramework="net451" />
</packages>