<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CS.Util" version="1.0.6.35" targetFramework="net451" />
  <package id="CS.Wpf" version="1.0.6.35" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.8" targetFramework="net451" />
  <package id="Exceptionless.Portable" version="3.3.1575" targetFramework="net451" />
  <package id="Exceptionless.Wpf" version="3.3.1575" targetFramework="net451" />
  <package id="Fody" version="1.29.4" targetFramework="net451" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net451" />
  <package id="PropertyChanged.Fody" version="1.51.0" targetFramework="net451" developmentDependency="true" />
  <package id="RT.Util" version="1.0.1528" targetFramework="net451" />
  <package id="ScreenVersusWpf" version="1.0.9.0" targetFramework="net451" />
  <package id="WPFTaskDialog" version="1.7.1" targetFramework="net451" />
</packages>