<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DirectShowLib" version="1.0.0" targetFramework="net48" />
  <package id="DotNetZip" version="1.14.0" targetFramework="net48" />
  <package id="Expression.Blend.Sdk.WPF" version="1.0.1" targetFramework="net48" />
  <package id="Fody" version="1.29.4" targetFramework="net451" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="1.51.0" targetFramework="net451" developmentDependency="true" />
  <package id="RT.Json" version="2.0.1668" targetFramework="net48" />
  <package id="RT.PostBuild" version="2.0.1668" targetFramework="net48" />
  <package id="RT.Serialization" version="2.0.1668" targetFramework="net48" />
  <package id="RT.Serialization.Binary" version="2.0.1668" targetFramework="net48" />
  <package id="RT.Serialization.Json" version="2.0.1668" targetFramework="net48" />
  <package id="RT.Serialization.Xml" version="2.0.1668" targetFramework="net48" />
  <package id="RT.Util" version="2.0.1668" targetFramework="net48" />
  <package id="RT.Util.Core" version="2.0.1668" targetFramework="net48" />
  <package id="ScreenVersusWpf" version="1.0.9.0" targetFramework="net451" />
  <package id="SharpRaven" version="2.2.0" targetFramework="net451" />
</packages>